html{
    max-width: 1000px;
    margin:0 auto;
    font-family: 'Pacifico', cursive;
    color:  #fff;
}

body{
    display: grid;
    grid-template-columns: repeat(10,10%);
    grid-template-rows: repeat(20,10%);
}
.header-grid{
    min-height: 100px;
    grid-column:1/11;
    grid-row:1/2;
    background-color: #fdbad9;
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding: 0 1em 0 1em;
}
.nav-menu{
    display:flex;
    align-items:center;
    justify-content: space-evenly;
}
.nav-menu a {

    display:block;
    padding:0.2em 1em 0.2em 1em;
    text-decoration: none;
    margin-right: 0.5em;
    font-size: 1.5em;
    background-color: inherit;
    border:1px solid  #fff;
    box-shadow: 0.4em 0.4em 2em #ec1e7d;
    border-radius: 20%;
    color:#fff;
}

.nav-menu a:focus {
background-color:  #f69cc6;
box-shadow: 0.2em 0.2em 0.5em #ec1e7d;
}

.nav-menu a:hover {
box-shadow: 0.2em 0.2em 0.5em #ec1e7d;
}

.nav-menu a:active {
box-shadow: 0.4em 0.4em 2em #fff;
}

.main-grid{
    display: grid;
    grid-template-columns: repeat(10,10%);
    grid-template-rows: repeat(18,10%);
    grid-column:1/11;
    grid-row:2/20;
    background-color: brown;
}
.photo-info{
    grid-column:1/11;
    grid-row: 1/5;
    display: flex;
    align-items:center;
    justify-content:space-between;
    margin-top: 0.5em;
    padding: 0 1em 0 1em;
}

#hislider1{
 min-height: 29em;
 min-width: 40em;
}




.grafik{
   text-align: center;
   align-self:center;
   margin: 0 auto;
   font-size: 1.5em;
}

.info{
    grid-column: 1/11;
    grid-row: 5/8;
    background-color: #fdbad9;
    padding: 0 1em 0 1em;
}
.discription{
    display: flex;
    align-items:center;
    justify-content:space-between;
}
.discription h1{
    width: 60%;
    
}
.discription .main-menu {
    display: flex;
    
    justify-content:space-around;
    list-style: none;
    color: black;
    
}

.discription .main-menu > li {
     align-items:center;
     text-transform: capitalize
}

.discription .main-menu a {
    display: block;
    text-decoration: none;
    text-transform: capitalize;
}

.discription .main-menu a:hover {
    background: inherit;
}

.discription .main-menu .sub-menu {
    position: absolute;
    display: none;
    list-style: none;
}

.discription .main-menu .sub-menu a {
    text-decoration: none;
    color: block;
}

.discription .main-menu > li:hover .sub-menu {
    display: block;
}

.news-box{
    grid-column: 1/11;
    grid-row: 8/14;
}


.news{
    background-color:  grey;
    max-width: 50%;
    margin: 2em auto;
    color: red;
}

.typeME{
     grid-column: 1/11;
     grid-row: 15/18;
     background-color: #fdbad9;
     margin-bottom: 1em;
}

.typeME form{
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding: 1em  1em 1em  1em;
    margin: 0 auto;
}

.fields{
    display: flex;
    flex-direction:column;
    align-items:space-between;
    margin:0 auto;
    
}
.fields h3{
    margin:0 auto;
}

.fields div{
    display: flex;
    align-items:flex-start;
    justify-content:flex-end;
    text-transform: capitalize;
     
}
.fields input:not(.btn-solid-gold){
   
}
.fields label{
    width: 30%;
}

.fields textarea{
    min-height: 15em;
    min-width: 40em;
    outline: none;
    resize: none;
    overflow: hidden;
    margin-left: 1em;
}


.fields div:last-child{
    margin: 0.5em 0 0 0;
    align-items:flex-start;
    justify-content:flex-end;
}

.btn-solid-gold{
  height: 3em;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #a38b70;
  border-radius: 3px;
  background:#a38b71;
  text-align: center;

}

.btn-solid-gold:hover {
  color: white;
  background: #8d745a;
  
}

.btn-solid-gold:active {
  background: white;
  color: rgba(180, 165, 151, 0.3);
}






.footer-grid{
   grid-column:1/11;
   grid-row:20/21;
   background-color: #fdbad9;
   display: flex;
   justify-content:space-between;
   align-items:center;
   padding: 0 1em 0 1em;
}

.footer-grid .ico{
   display: flex;
   justify-content:space-between;
   align-items:center;
}

.ico .fa{
    max-width: 5em;
    max-height: 5em;
    margin: 1em;
    color: brown;
    display: flex;
    justify-content:space-between;
    align-items:center;
}

.news-box{
   display: flex;
   padding: 0 1em 0 1em;
}
.news{
    display: flex;
    list-style: none;
}


/*@media screen and (max-width: 681px) {*/
/*    #hislider1{*/
/* min-height: 20em;*/
/* min-width: 30em;*/
/*}*/
/*.grafik{*/
/*    display: none;*/
    
/*}*/
/* .fields textarea{*/
/* min-height: 10em;*/
/* min-width: 15em;*/
 
/*}*/
/*}*/

/*@media screen and (max-width: 400px) {*/
/*    #hislider1{*/
/* min-height: 15em;*/
/* min-width: 16em;*/
/* margin: 0 auto;*/
/*}*/
/*.fields textarea{*/
/* height: 10em;*/
/* width: 15em;*/
 
/*}*/
/*}*/
